.about{background-color: rgb(83, 83, 84);
color: antiquewhite}

p{

    font-size: larger;

    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';

    
}
